<h1 class="title-with-line">Trend</h1>
<div class="wrapper-container">
  <div *ngFor="let post of getFirstThreePostsByType('trend')" class="wrapper trend">
    <div class="container">
      <div class="frame">
        <a [routerLink]="['/post', post.id]">
          <img [src]="post.processedImg" alt="post-image">
        </a>
      </div>
    </div>
    <div class="title">
      <h3 nzType="link" routerLink="/nouvelle" routerLinkActive="active">{{ post.name }}</h3>
      <p>Posted by: {{ post.postedBy }} on {{ post.date | date }}</p>
    </div>
  </div>
</div>

<h1 class="title-with-line">Latest</h1>
<div class="wrapper-container">
  <div *ngFor="let post of getFirstThreePostsByType('latest')" class="wrapper latest">
    <div class="container">
      <div class="frame">
        <a [routerLink]="['/post', post.id]">
          <img [src]="post.processedImg" alt="post-image">
        </a>
      </div>
    </div>
    <div class="title">
      <h3 nzType="link" routerLink="/nouvelle" routerLinkActive="active">{{ post.name }}</h3>
      <p>Posted by: {{ post.postedBy }} on {{ post.date | date }}</p>
    </div>
  </div>


  <h1 class="title-with-line">Reports</h1>
<div class="wrapper-container">
  <div *ngFor="let post of getFirstThreePostsByType('reports')" class="wrapper latest">
    <div class="container">
      <div class="frame">
        <a [routerLink]="['/post', post.id]">
          <img [src]="post.processedImg" alt="post-image">
        </a>
      </div>
    </div>
    <div class="title">
      <h3 nzType="link" routerLink="/nouvelle" routerLinkActive="active">{{ post.name }}</h3>
      <p>Posted by: {{ post.postedBy }} on {{ post.date | date }}</p>
    </div>
  </div>
</div>
