/* Style pour chaque nouvelle */
.new-details {
    border: 1px solid #ccc; /* Bordure pour délimiter chaque nouvelle */
    padding: 10px; /* Espacement intérieur */
    margin-bottom: 20px; /* Espacement entre chaque nouvelle */
  }
  
  /* Style pour le titre de la nouvelle */
  .new-details h3 {
    margin-bottom: 5px; /* Espacement sous le titre */
  }
  
  /* Style pour les liens */
  .new-details a {
    text-decoration: none; /* Supprime le soulignement par défaut des liens */
    color: #333; /* Couleur du texte pour les liens */
  }
  
  /* Style pour les liens au survol */
  .new-details a:hover {
    color: #007bff; /* Couleur du texte au survol */
  }
  