<mat-toolbar>
  
  <mat-icon  (click)="this.sideNav.open()"  *ngIf="!sideNav.opened"  class="mat-18">menu</mat-icon>
<mat-icon  (click)="this.sideNav.close()"*ngIf=" sideNav.opened" class="mat-18">close</mat-icon>

 
<span>My Application</span>
<div class="nav-links">
  <a nz-button nzType="link" routerLink="/latest" routerLinkActive="active">الرئيسية </a>

  <a nz-button nzType="link" routerLink="/maroc" routerLinkActive="active">المغرب </a>

  <a nz-button nzType="link" routerLink="/afrique" routerLinkActive="Active"  > افريقيا</a>
  <a nz-button nzType="link" routerLink="/europe" routerLinkActive="active"> أروبا
  </a>
  <a nz-button nzType="link" routerLink="/asie" routerLinkActive="Active"  > آسيا</a>
  <a nz-button nzType="link" routerLink="/amerique" routerLinkActive="Active"  > أمريكا</a>




</div>
</mat-toolbar>
<mat-sidenav-container>

<mat-sidenav  #sideNav="matSidenav">
  <img src="" alt="" class="avatar mat-elevation-z8">
  <h4>hello</h4>
  <mat-divider></mat-divider>
  
  
  
  
   <button mat-button class="menu-button">
      <mat-icon>event_note</mat-icon>
      <span>ABC NEWS</span>
   </button>
  
      </mat-sidenav>
  
  <router-outlet></router-outlet>
</mat-sidenav-container>