


mat-toolbar {
    display: flex; /* Utilisez flex pour la mise en page */
    align-items: center; /* Aligner les éléments au centre verticalement */
    height: 50px; /* Hauteur du toolbar */
    position: fixed; /* Fixe la barre d'outils en haut de la page */
    top: 0; /* Aligne la barre d'outils en haut de la page */
    width: 100%; /* Prend toute la largeur de la page */
    z-index: 1000;
    background-color: rgb(144, 194, 196);

  }

  .nav-links {
    flex-grow: 1; /* Pour occuper tout l'espace disponible */
    display: flex;
    justify-content: center; /* Pour centrer les éléments horizontalement */
    align-items: center; /* Pour centrer les éléments verticalement */
    gap: 30px; /* Ajoute un espacement de 20 pixels entre les éléments */
  }
  
  .nav-links a {
    margin-right: 10px;
    font-family: cursive; 
    font-size:25px;

  }
  .nav-links a:hover {
    text-decoration: underline; /* Ajouter une soulignure survolée */
    color: #796f66ef; /* Changer la couleur des liens en gris clair lors du survol */
  }

  h4 {
    font-size: 18px; /* Taille de la police */
    margin-top: 10px; /* Marge en haut */
  }
  
  .menu-button {
    display: flex;
    align-items: center;
    margin-top: 20px; /* Marge en haut */
    padding: 10px; /* Espacement intérieur */
    border-radius: 5px; /* Coins arrondis */
    transition: background-color 0.3s ease; /* Transition au survol */
  }
  .menu-button:hover {
    background-color: #f0f0f0; /* Couleur de fond au survol */
  }
  
  /* Style pour les icônes */
  mat-icon {
    margin-right: 10px;
     /* Marge à droite */
  }


  

 


.mat-sidenav-container {
    height: 100vh;
}

.mat-sidenav {
    width: 250px; /* ou la largeur de votre choix */
    position: fixed;
}



/* Style pour le texte de la carte */

