
<body>

    <h1 class="title-with-line"> Afric news</h1>
    <div class="wrapper-container">
    <div class="wrapper">
        <div class="container">
            <div class="frame">
                <img src="assets/img/job1.jpg" alt="Image 1">
            </div>
        </div>
        <div class="title">
            <h3  nzType="link" routerLink="/nouvelle" routerLinkActive="active">Titre</h3>
        </div>
    </div>

    <div class="wrapper">
        <div class="container">
            <div class="frame">
                <img src="assets/img/job1.jpg" alt="Image 1">
            </div>
        </div>
        <div class="title">
            <h3>Title 1</h3>
        </div>
    </div>
    
    <div class="wrapper">
        <div class="container">
            <div class="frame">
                <img src="assets/img/job1.jpg" alt="Image 1">
            </div>
        </div>
        <div class="title">
            <h3>Title 1</h3>
        </div>
    </div>
</div>





<h1 class="title-with-line"> news</h1>
<div class="wrapper-container">
    <div class="wrapper">
        <div class="container">
            <div class="frame">
                <img src="assets/img/job1.jpg" alt="Image 1">
            </div>
        </div>
        <div class="title">
            <h3  nzType="link" routerLink="/maroc" routerLinkActive="active">Title 1</h3>
        </div>
    </div>

    <div class="wrapper">
        <div class="container">
            <div class="frame">
                <img src="assets/img/job1.jpg" alt="Image 1">
            </div>
        </div>
        <div class="title">
            <h3>Title 1</h3>
        </div>
    </div>
    
    <div class="wrapper">
        <div class="container">
            <div class="frame">
                <img src="assets/img/job1.jpg" alt="Image 1">
            </div>
        </div>
        <div class="title">
            <h3>Title 1</h3>
        </div>
    </div>
</div>
</body>
